<div>
<a class="btn btn-secondary" href="/register"><i class="fa fa-plus"></i> Create New</a> 
 
<h3 align="center">Users List</h3>
</div>

<div>
<table>
<thead align="center">
<tr align="center">
<th>Name</th>
<th>Age</th>
<th>Email ID</th>

<th></th>
</tr>
</thead>
<tbody>
{{#each list}}
<tr>
<td>{{this.name}}</td>
<td>{{this.age}}</td>
<td>{{this.email}}</td>

<td>
<a href="/register/{{this._id}}"> Edit </a>
<a href="/register/delete/{{this._id}}" onclick="return confirm('Are you sure to delete ?');"> Delete </a>
</td>
</tr>
{{/each}}
</tbody>
</table>
</div>